@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

@font-face {
  font-family: "Noto Sans Mono CJK JP";
  src: url("./NotoSansMonoCJKjp-Regular.otf") format("opentype")
}


$break-point: 1000px;
@mixin small-screen {
  @media screen and (max-width: $break-point) {
    @content;
  }
}


ul {
  padding-left: 0;
}

li {
  list-style: none;
  line-height: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
  border-left: 10px solid #4a4a4a;

  p {
    margin: 0;
    overflow: hidden;
  }
}

dt {
  @extend li;
  margin-bottom: 10px;
}

dd {
  padding-left: 20px;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 20px;
  }
}

h1, h2, h3, p, dt, dd, li {
  visibility: hidden;
  overflow: hidden;
  white-space: nowrap;
  line-height: 30px;

  &.active {
    visibility: visible;
  }
}

section.component-wrapper {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 50px;

  div.frame-fastspin, div.frame-slowspin {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    border: 1px solid black;
    pointer-events: none;
    transition: background-color .5s linear;
  }

  div.frame-fastspin {
    top: 0;
    left: 0;
  }

  div.frame-slowspin {
    bottom: 0;
    right: 0;
  }

  @at-root main.animated {
    div.frame-fastspin, div.frame-slowspin {
      width: 50px;
      height: 50px;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  h2 {
    font-family: "Sawarabi Mincho", sans-serif;
    margin-top: 0;
  }

  &.active {
    background-color: #ffffffc9;
  }
}

div.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &.single {
    section.component-wrapper {
      width: 60%;
      @include small-screen {
        width: 100%;
      }
    }

    &.right {
      section.component-wrapper {
        margin-left: auto;
      }
    }
  }

  &.double {
    section.component-wrapper {
      &:nth-child(1) {
        width: 50%;
        @include small-screen {
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 25%;
        @include small-screen {
          width: 100%;
        }
      }
    }
  }
}

body {
  font-family: 'Noto Sans Mono CJK JP', sans-serif;
  width: 100%;

  header {
    opacity: 0;
    transition: opacity linear .5s;

    div#switch-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 400px;
      height: 30px;
      padding-top: 10px;
      padding-left: 40px;
      padding-bottom: 10px;
      background: black;
      z-index: 10;

      span.switch-label {
        color: #FFFFFF;
        padding-right: 10px;
      }

      div.segmented-control {
        display: inline-block;
        position: relative;

        button.uk-button.uk-button-small {
          background: black;
          color: white;
          border: 1px solid white;
          width: 100px;

          &.button-active {
            background: #ffffff;
            color: black;
          }

          &:nth-child(2) {
            position: absolute;;
            top: 0;
            left: 100px;
          }
        }
      }
    }

    span#github-ribbon {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 200px;
      overflow: hidden;
      height: 200px;
      z-index: 9999;
      transform: scale(0.7) translateX(43px) translateY(-43px);

      a {
        background: #000;
        color: #fff;
        text-decoration: none;
        font-family: arial, sans-serif;
        text-align: center;
        font-weight: bold;
        padding: 5px 40px;
        font-size: 1rem;
        line-height: 2rem;
        transition: 0.5s;
        width: 200px;
        position: absolute;
        top: 60px;
        right: -60px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);

        &:hover {
          background: #009394;
          color: #FFFFFF;
        }

        &:before, &:after {
          content: "";
          width: 100%;
          display: block;
          position: absolute;
          top: 1px;
          left: 0;
          height: 1px;
          background: #fff;
        }

        &:after {
          bottom: 1px;
          top: auto;
        }
      }
    }

    &.active {
      opacity: 1;
    }
  }

  main {
    margin-top: 0;

    div#branding-wrapper {
      width: 100%;
      height: 100vh;
      min-height: 500px;
      padding-top: calc(50vh - 100px);
      box-sizing: border-box;
      position: relative;

      section#title-wrapper {
        width: 500px;
        height: 200px;
        margin: 0 auto;
        max-width: 100%;
        box-sizing: border-box;

        h1 {
          font-family: "Sawarabi Mincho", sans-serif;
          width: 100%;
          height: 100%;
          line-height: 100px;
          text-align: center;
          margin: auto;

          &:before, &:after {
            display: block;
            content: "";
            width: 8px;
            height: 8px;
            position: absolute;
            background: black;
          }

          &:before {
            top: 0;
            right: 0;
          }

          &:after {
            bottom: 0;
            left: 0;
          }
        }
      }

      div#scroll-down {
        position: absolute;
        background: url("../img/chevron-down.svg") no-repeat center;
        width: 50px;
        height: 50px;
        bottom: 50px;
        left: 0;
        right: 0;
        margin: auto;
        animation: updown 0.5s ease-in-out infinite;
        animation-direction: alternate;
        z-index: 1;
        opacity: 0;
        transition: opacity linear .5s;

        &.active {
          opacity: 1;
        }

        &:after {
          display: block;
          content: "Scroll";
          padding-top: 40px;
          text-align: center;
          color: #000000;
        }

        @-webkit-keyframes updown {
          from {bottom: 50px;}
          to {bottom: 30px;}
        }
        @keyframes updown {
          from {bottom: 50px;}
          to {bottom: 30px;}
        }
      }
    }

    section#contact {

      li {
        padding-left: 0;
        border-left: 0;

        &.github_link img{
          width: 40px;
          height: auto;
        }
      }
    }

    section#publication {

      p.publication_author span.author_me {
        font-weight: bolder;
        text-decoration: underline;
      }

      p.publication_author,
      p.publication_conference {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      span.award {
        display: inline-block;
        background: #b90000;
        color: white;
        padding: 2px 10px;
        border-radius: 10px;
        margin-left: 20px;
        -webkit-user-select: none;
        user-select: none;
        position: absolute;
      }

    }
  }
}

@mixin grid-horizontal_base {
  position: fixed;
  z-index: -1;
  height: 1px;
  left: 0;
  right: 0;
  width: 100%;
  top: 118px;
  background: #DCDCDC;
}

@mixin grid-vertical_base {
  position: fixed;
  display: block;
  background: #DCDCDC;
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: -1;
}

footer div#grid {
  opacity: 0;
  transition: opacity .5s linear ;

  div.grid-horizontal {
    @include grid-horizontal_base;

    &:after {
      @include grid-horizontal_base;
      content: "";
      display: block;
      bottom: 119px;
      top: auto;
    }
  }

  div.grid-vertical {
    @include grid-vertical_base;

    &:before {
      @include grid-vertical_base;
      left: 25%;
    }

    &:after {
      @include grid-vertical_base;
      left: 75%;
    }
  }

  &.active {
    opacity: 1;
  }
}
